<!DOCTYPE html>
<html ng-app="wineApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="node_modules/leaflet/dist/leaflet.css">
        <title></title>
    </head>
    <body>

        <header class="Header">
            <h1 class="Logo">Where is my Wine</h1>
            <nav class="Navigation">
                <ul class="Navigation__list" ng-init="selectedTab = 'markets'">
                    <li ng-class="{'Navigation__item--active':selectedTab === 'markets'}" class="Navigation__item" ng-click="selectedTab = 'markets'" >
                        <a class="Navigation__link" href="#!/markets/">Commerces</a>
                    </li>
                    <li ng-class="{'Navigation__item--active':selectedTab === 'wines'}" ng-click="selectedTab = 'wines'" class="Navigation__item">
                        <a class="Navigation__link" href="#!/wines/">Vins</a>
                    </li>
                    <li ng-class="{'Navigation__item--active':selectedTab === 'owners'}" ng-click="selectedTab = 'owners'" class="Navigation__item">
                        <a class="Navigation__link" href="#!/owners/">Producteurs</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="Main" ng-view>

            <!-- <map></map>
            <market-list></market-list> -->

            <!-- <wine-list></wine-list> -->
            <!-- <owner-list></owner-list> -->
        </main>



        <script src="/node_modules/angular/angular.js"></script>
        <script src="/node_modules/angular-route/angular-route.js"></script>
        <script src="node_modules/leaflet/dist/leaflet.js"></script>

        <!-- App model  -->

        <!-- Angular  -->
        <script src="/app/wineApp.js"></script>
        <script src="/app/wineApp.config.js"></script>

        <script src="/app/components/ownerList/ownerListModule.js"></script>
        <script src="/app/components/ownerList/ownerListComponent.js"></script>
        <script src="/app/components/ownerDetail/ownerDetailModule.js"></script>
        <script src="/app/components/ownerDetail/ownerDetailComponent.js"></script>

        <script src="/app/components/marketList/marketListModule.js"></script>
        <script src="/app/components/marketList/marketListComponent.js"></script>
        <script src="/app/components/marketDetail/marketDetailModule.js"></script>
        <script src="/app/components/marketDetail/marketDetailComponent.js"></script>

        <script src="/app/components/wineList/wineListModule.js"></script>
        <script src="/app/components/wineList/wineListComponent.js"></script>
        <script src="/app/components/wineDetail/wineDetailModule.js"></script>
        <script src="/app/components/wineDetail/wineDetailComponent.js"></script>

        <script src="/app/components/map/mapModule.js"></script>
        <script src="/app/components/map/mapController.js"></script>

    </body>
</html>
