<ul class="List">
	<li ng-repeat="wine in $ctrl.wines" class="Item">
		<!-- <ul> -->
			<!-- <li>{{wine._id}}</li> -->
			<!-- <figure class="Item__img">
				<img ng-src="http://wine.wildcodeschool.fr/{{wine.picture}}"
			</figure> -->
			<a class="Link" href="#!/wines/{{wine._id}}">
				<h2 class="Item__title">{{wine.name}}</h2>
			</a>
			<!-- <li><img ng-src="{{picture}}"></li> -->
			<!-- <li ng-repeat="sub in data">
				<ul>
					<li>{{sub}}</li>
					<li>{{sub.firstname}}</li>
					<li>{{sub.email}}</li>
				</ul>
			</li> -->
		<!-- </ul> -->
	</li>
</ul>
